/* default formatting for everything (everything matches this) */
*
{
	font-family: Ubuntu, sans-serif;
	color: #000; /* makes the text readable if it hasn't been properly formatted */
}

/********************************************************/
/********************************************************/
/********************************************************/
/* Content-grouping tags */

/* formats the background */
body
{
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	background-color: #FFF;
}

/* formats the site header */
header
{
	width 100vw;
	padding: 15px;
	padding-bottom: 2px;
	border-bottom: solid 3px #000;
}

/* formats the sidebar */
sidebar
{
	float: left;
	height: auto;
	width: 175px;
	margin-top: 15px;
}

/* formatting for each article */
article
{
	border-bottom: solid 1px #000;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* h1s */

/* The site header */
h1#header
{
	margin-top: 0px;
	font-size: 48px;
	color: #BF0A30;
	letter-spacing: 5px;

	text-shadow: 1px 1px black;
}

/* The content header */
h1#content
{
	font-size: 33px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 2px solid #000;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* ps */

/* The title of the article */
p#articleTitle
{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 0px;
}

p#articleInfo
{
	font-size: 12px;
	color: #555;
	margin-top: 0px;
	font-weight: bold;
}

/* The body of the article */
p#article
{
	text-indent: 45px;
	font-size: 15px;
	line-height: 30px;
}

p#imgCaption
{
	font-size: 12px;
	color: grey;
	text-align: center;
	
	/* center it */
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;

	/* put it closer to the image */
	margin-top: 2px;
}

p#note
{
	font-size: 12px;
	color: #555;
	margin-top: 2px;
	margin-bottom: 2px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* divs */

/* The division for the content */
div#content
{
	margin-left: 185px;
	margin-top: 5px;
	padding: 15px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* uls */

sidebar ul
{
	list-style-type: none;
	padding: 5px;
	padding-left: 20px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* lis */

/* sidebar list item */
sidebar ul li
{
	padding-bottom: 5px;
}

/* ordered list item in the article and their links */
article ol li, /**/ article ol li a
{
	font-family: "Ubuntu Mono", sans-serif;
	font-size: 15px;
	font-weight: bold;
	line-height: 20px;
}

/* only applies to "article ol li", not "article ol li a" */
article ol li
{
	margin-left: 30px;
	padding-bottom: 5px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* as */

/* all links and the homepage link */
a, /**/ sites a#home
{
	text-decoration: none;
	font-weight: bold;
	font-size: 15px;

	color: #BF0A30;
		transition: color 0.5s ease;
}

/* links when hovered */
a:hover, /**/ sites a#home:hover
{
	color: #000;
		transition: color 0.7s ease;
}

sidebar ul li a#current
{
	color: #000;
		transition: color 0.5s ease;
}

sidebar ul li a#current:hover
{
	color: #BF0A30;
		transition: color 0.5s ease;
}

/* the various linked sites to other locations */
sites a
{
	padding-left: 33px;
	
	color: #000;
		transition: color 0.5s ease;
}

/* the counterpart to the above element, but when hovered over */
sites a:hover
{
	color: #BF0A30;
		transition: color 0.7s ease;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* hrs */

/* sidebar separators */
sidebar ul li hr
{
	border: solid 1px #000;
	margin-top: 0px;
	margin-bottom: 4px;
	display: block;
}


/********************************************************/
/********************************************************/
/********************************************************/
/* imgs */

img#article
{
	width: 50%;
	margin-left: 25%;
	padding: 10px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* codes */

code, td
{
	font-family: "Ubuntu Mono", sans-serif;
	font-size: 15px;
	font-weight: normal;

}

code#preprocessor
{
	color: #730B0B;
}

code#string, code#keyword
{
	color: blue;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* tables */

table
{
	width: 100%;
}

th
{
	text-align: left
}

td
{
	padding: 15px;
}

th, td
{
	min-width: 250px;
}