/* default formatting for everything (everything matches this) */
*
{
	font-family: Ubuntu, sans-serif;
	color: #000; /* makes the text readable if it hasn't been properly formatted */
}

/********************************************************/
/********************************************************/
/********************************************************/
/* Content-grouping tags */

/* formats the background */
body
{
	background-color: #FFF;
	margin-left: auto;
	margin-right: auto;
	min-width: 950px;
	width: 60%;
}

/* formats the site header */
header
{
	padding: 15px;
	padding-bottom: 0px;
}

/* formats the */
nav
{
	/* margin-left: 180px; */
	margin-left: 50px;
}

/* formatting for each article */
article
{
	border-bottom: solid 1px #000;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* h1s */

/* The site header */
h1#header
{
	margin-top: 16px;
	margin-bottom: 0px;
	font-size: 48px;
	color: #BF0A30;
	letter-spacing: 5px;
}

/* The content header */
h1#content
{
	font-size: 33px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 2px solid #000;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* ps */

/* The title of the article */
p#articleTitle
{
	font-size: 22px;
	font-weight: bold;
	margin-bottom: 0px;
}

p#articleInfo
{
	font-size: 12px;
	color: #555;
	margin-top: 0px;
	font-weight: bold;
}

/* The body of the article */
p#article, p#methodDoc
{
	text-indent: 45px;
	font-size: 15px;
	line-height: 30px;
}

p#methodDoc
{
	padding-left: 45px;
	text-indent: -45px;
}

p#imgCaption
{
	font-size: 12px;
	color: grey;
	text-align: center;
	
	/* center it */
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;

	/* put it closer to the image */
	margin-top: 2px;
}

p#note
{
	font-size: 12px;
	color: #555;
	margin-top: 2px;
	margin-bottom: 2px;
}

p.splitLeft
{
	float: left;
	width: 55%;
}

p.splitRight
{
	float: right;
	width: 45%;
	text-align: right;
	color: #BF0A30;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* divs */

/* The division for the content */
div#content
{
	margin-top: 15px;
	padding: 80px;
	padding-top: 30px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* as */

a /* all links */
{
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;

	color: #BF0A30;
	transition: all 0.2s ease;
}

a:hover /* all links when hovered */
{
	color: #000;
}


/********************************************************/
/********************************************************/
/********************************************************/
/* imgs */

img#article
{
	width: 50%;
	margin-left: 25%;
	padding: 10px;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* codes */

code, td, acronym, pre
{
	font-family: "Ubuntu Mono", sans-serif;
	font-size: 15px;
	font-weight: normal;
}

code#preprocessor
{
	color: #730B0B;
}

code#string, code#keyword
{
	color: #BF0A30;
	font-weight: bold;
}

code#object
{
	color: green;
}

/********************************************************/
/********************************************************/
/********************************************************/
/* tables */

table
{
	width: 100%;
}

table#parameters
{
	padding-left: 45px;
}

th
{
	text-align: left
}

td
{
	padding: 15px;
}
