/*
 * The main site drop downs
 */

nav ul
{
    text-align: left;
    display: inline;
    list-style: none;
    padding-left: 0px;
}

nav ul li
{
    display: inline-block;
    width: 175px;
    position: relative;

    transition: all 0.3s ease;
}

nav ul li:hover
{
    color: black;
}

/********************************/
/* The dropdown menus           */
/********************************/

/* the dropdown itself (hidden) */
nav ul li ul
{
    padding: 0px;
    position: absolute;
    top: 17px;
    width: 174px;
    background-color: white;
    border: 1px solid black;

    display: none;
}

/* the dropdown itself (shown) */
nav ul li:hover ul
{
    display: block;
}

/* an item in the dropdown */
nav ul li ul li
{
    padding-right: 0px;
    width: 160px;
}

/* a link in the dropdown */
nav ul li ul li a
{
    display: block;
    padding: 5px;
    padding-left: 15px;

    transition: all 0.2s ease;
}

/* a selected link in a dropdown */
nav ul li ul li:hover a 
{
    padding-left: 35px;
}

/* every link inside of a list */
nav ul li a,
nav ul li /* the main site links */
{
    font-weight: bold;
    font-size: 15px;
    
    color: #BF0A30;
    transition: all 0.2s ease;
}

/* every hovered over list item */
nav ul li:hover,
nav ul li:hover a,
{
    color: #000;
    transition: all 0.2s ease;
}