code,
#code, #code *,
.code, .code *
{
    font-family: "monospace" !important;
    font-size: 14px;
}

.code.red,
code#red
{
	color: #800000;
}

.code.blue,
code#blue
{
    color: #000080;
}

.code.green,
code#green
{
    color: #008000;
}

