html, body { height: 100%; }
* { font-size: 16px; font-family: "Open Sans",sans-serif; color: rgba(0,0,0,0.70); }
body { background: #f9f9f9; margin: 0px; padding: 0px; }
h1, h2, h3, h4, h5, h6, p { margin: 0; }
div h1 { color: #bf0a30; font-size: 34px; }
div h2 { font-weight: bold; font-size: 27px; }
div h3 { font-weight: bold; font-size: 20px; }
div p { line-height: 1.5em; }
a { font-weight: normal; }

.sbmargin { margin-bottom: 5px; }
.mbmargin { margin-bottom: 10px; }
.bbmargin { margin-bottom: 20px; }
.stmargin { margin-top: 5px; }
.mtmargin { margin-top: 10px; }
.btmargin { margin-top: 20px; }
.sbpadding { padding-bottom: 5px; }
.mbpadding { padding-bottom: 10px; }
.bbpadding { padding-bottom: 20px; }
.stpadding { padding-top: 5px; }
.mtpadding { padding-top: 10px; }
.btpadding { padding-top: 20px; }
.insetshadow { box-shadow: inset 1px 2px 5px rgba(0,0,0,0.13); }

.footer, .footer * { color: rgba( 0, 0, 0, 0.38 ); font-size: 12px; }
div.left hr, div.right hr { margin-left: 0; width: 50%; }
div.content a { color: #bf0a30; }
hr.spacer { border-color: transparent; }

.content
{
    margin-top: 25px;
}

div.container.gallery
{
    box-shadow: inset 0px 8px 5px -8px rgba( 0, 0, 0, 0.26 ), inset 0px -8px 5px -8px rgba( 0, 0, 0, 0.26 );
    background: #333;
    padding-bottom: 10px;
    margin: 10px 0px 10px 0px;
}

div.content.gallery
{
    padding: 25px 5px 10px 5px;
    overflow-x: scroll;
    white-space: nowrap;
}

div.gallery img
{
    max-height: 51vh;
    margin-left: 5px;
    margin-right: 5px;
}

div.gallery.small img
{
    max-height: 20vh;
    margin-left: 20px;
    margin-right: 20px;
}

.footer
{
    margin-top: 15px;
    margin-bottom: 30px;
    margin-left: 10%;
}

.content:not(.gallery)
{
    width: 70%;
    margin-left: 15%;
}

img.content.left, img.content.right
{
    max-height: 40vh;
    width: auto;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img.content { box-shadow: 1px 1px 2px rgba( 0, 0, 0, 0.26 ); }

@media only screen and (min-width: 1270px) {

    div.left hr, div.right hr { margin-left: auto; width: auto; }

    .content.left, img.content.left
    {
        float: left;
        width: 34%;
        margin-left: 15%;
        margin-right: 0;
    }

    .content.right, img.content.right
    {
        float: right;
        width: 34%;
        margin-left: 0;
        margin-right: 15%;
    }

    .footer
    {
        margin-left: 15%;
    }
}